:root {
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
}
// Primary

$red: hsl(0, 100%, 74%) ;
$green: hsl(154, 59%, 51%);

//Accent

$blue: hsl(248, 32%, 49%);

//Neutral

$dar-Blue: hsl(249, 10%, 26%) ;
$grayish-Blue: hsl(246, 25%, 77%);
