@use '../util'as *;
@use '../globals'as *;


body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: url(/app/assets/images/bg-intro-mobile.png);

    background-color: $red;
}

%center {
    
    margin: 0 auto;
    padding-top: 1rem;
}

%box-shadow {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

}
.show {
   

    & > *{
        transition: all 1s es;
        opacity: 1 !important;
    }
    & >input{
border-color:  red !important;
    
    }

}
.main {
    margin: 0 auto;
 


    width: min(100% -2rem, 375px);
    padding: 1rem;

}

.info {
    color: #fff;
    font-weight: 700;

    h1 {
        font-size: 2rem;
        width: 15ch;
        font-weight: 700;
        @extend %center
    }

    p {
        @extend %center
    }
}

.register {
    @extend %center;
    transition: opacity 1s ease;

    .try {

        color: #fff;
        padding: 1rem 2rem;
        border-radius: 10px;
        margin-top: 2rem;
        background-color: $blue;
        @extend %box-shadow;

    }

    form {
        border-radius: 10px;
        background-color: #fff;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @extend %box-shadow;
        &>*{
            position: relative;
            
        }

        input {
            margin: 1rem;
            padding: 0.9rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            color: $dark-Blue;
            font-weight: 700;
            width: 90%
        }

        button {
            @extend %box-shadow;
            color: #fff;
            background-color: $green;
            font-size: 1rem;
            border: .4px solid $green;
            border-radius: 10px;
            padding:  1rem 0.6rem;
          margin: 1rem;
            cursor: pointer;
            flex: 1;

        }

        P {
            font-size: .8rem;
            padding: 1rem;
            color: $grayish-Blue;

        }

        a {
            color: $red;
            font-weight: 700;
        }

        span{
            color: red;
           position: absolute;
           top: 65px;
           left:20px;
           opacity: 0;

        }
        img{
            color: red;
            position: absolute;
            top: 25px;
            right:45px;
            opacity: 0;

        }
      
    }

}

@media  (min-width: 50rem) {
    body{
        
        background: url(/app/assets/images/bg-intro-desktop.png);
 background-color: $red;
    }
    .main {

  display: grid;
  place-content: center;
  grid-template-columns: repeat(2,1fr);
  width: min(100% -2rem ,1300px);

    }
    .info{
        justify-items: center;
        align-items: center;
        align-self: center;

    }

  
}
    
